@import url(scss/uifabric/fabric.css);
/* line 4, scss/base/display.scss */
.relative {
  position: relative; }

/* line 5, scss/base/display.scss */
.static {
  position: static; }

/* line 6, scss/base/display.scss */
.fixed {
  position: fixed; }

/* line 7, scss/base/display.scss */
.absolute {
  position: absolute; }

/*
---------------
floats & blocks
---------------
*/
/* line 15, scss/base/display.scss */
.float-left {
  float: left; }

/* line 18, scss/base/display.scss */
.float-right {
  float: right; }

/* line 21, scss/base/display.scss */
.inline {
  display: inline; }

/* line 24, scss/base/display.scss */
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 100%;
  *display: inline; }

/* line 30, scss/base/display.scss */
.block {
  display: block; }

/*
----------------------
alignments and flexbox
----------------------
*/
/* line 38, scss/base/display.scss */
.align-left {
  text-align: left; }

/* line 41, scss/base/display.scss */
.align-right {
  text-align: right; }

/* line 44, scss/base/display.scss */
.align-center {
  text-align: center; }

/* line 47, scss/base/display.scss */
.marginauto {
  margin: 0 auto !important; }

/* line 50, scss/base/display.scss */
.valign-top {
  vertical-align: top !important; }

/* line 53, scss/base/display.scss */
.valign-middle, .valign-middle-children > * {
  vertical-align: middle !important; }

/* line 56, scss/base/display.scss */
.valign-bottom {
  vertical-align: bottom !important; }

/* line 59, scss/base/display.scss */
.fullwidth {
  width: 100%; }

/* line 62, scss/base/display.scss */
.fullheight {
  height: 100%; }

/* Row with equal height columns -------------------------------------------------- */
/* line 1, scss/base/reset.scss */
html {
  box-sizing: border-box; }

/* line 5, scss/base/reset.scss */
*,
*:before,
*:after {
  box-sizing: inherit; }

/* line 11, scss/base/reset.scss */
* {
  max-height: 1000000px;
  margin: 0;
  padding: 0; }

/* line 17, scss/base/reset.scss */
body {
  color: #333;
  background: #fff;
  font: 400 20px/1.7 "Arial", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 26, scss/base/reset.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

@media only screen and (min-width: 1025px) {
  /* line 33, scss/base/reset.scss */
  a[href^=tel],
  a[href^=skype],
  a[href^=sms] {
    cursor: default;
    pointer-events: none; } }
/* HTML5 display-role reset for older browsers */
/* line 43, scss/base/reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* line 57, scss/base/reset.scss */
ol,
ul {
  list-style: none; }

/* line 62, scss/base/reset.scss */
blockquote,
q {
  quotes: none; }

/* line 67, scss/base/reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

/* line 75, scss/base/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 80, scss/base/reset.scss */
address {
  font-style: normal;
  margin-top: 20px; }

/* line 84, scss/base/reset.scss */
[class^="icon-"], [class*=" icon-"] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 1, scss/base/typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial", sans-serif;
  font-weight: 500;
  margin: 0 0 10px;
  color: #333; }

/* line 13, scss/base/typography.scss */
h1 {
  font-size: 50px; }

/* line 17, scss/base/typography.scss */
h2 {
  font-size: 24px; }

/* line 21, scss/base/typography.scss */
h3 {
  font-size: 22px; }

/* line 25, scss/base/typography.scss */
h4 {
  font-size: 18px; }

/* line 29, scss/base/typography.scss */
h5 {
  font-size: 17px; }

/* line 33, scss/base/typography.scss */
h6 {
  font-size: 15px; }

@media only screen and (max-width: 767px) {
  /* line 38, scss/base/typography.scss */
  h1 {
    font-size: 50px; }

  /* line 42, scss/base/typography.scss */
  h2 {
    font-size: 24px; }

  /* line 46, scss/base/typography.scss */
  h3 {
    font-size: 22px; }

  /* line 50, scss/base/typography.scss */
  h4 {
    font-size: 18px; }

  /* line 54, scss/base/typography.scss */
  h5 {
    font-size: 17px; }

  /* line 58, scss/base/typography.scss */
  h6 {
    font-size: 15px; } }
/* line 63, scss/base/typography.scss */
p {
  margin: 0 0 20px; }

/* line 67, scss/base/typography.scss */
a {
  color: blue;
  text-decoration: none;
  transition: color 0.3s linear; }
  /* line 71, scss/base/typography.scss */
  a:hover, a:focus {
    text-decoration: underline;
    color: #0000b3; }

/* lists */
/* line 78, scss/base/typography.scss */
ul, ol {
  margin: 20px 0; }

/* line 82, scss/base/typography.scss */
ol {
  list-style: lower-greek; }

/* line 86, scss/base/typography.scss */
ul {
  list-style: disc; }

/* line 90, scss/base/typography.scss */
ul, li, ol {
  line-height: 1.8em;
  padding-left: 40px; }
  /* line 93, scss/base/typography.scss */
  ul.unstyled, li.unstyled, ol.unstyled {
    list-style-type: none; }

/* line 98, scss/base/typography.scss */
ul li,
ol li {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 20px; }

/* definition lists */
/* line 107, scss/base/typography.scss */
dl {
  border: 3px double #ccc;
  padding: 0.5em; }

/* line 111, scss/base/typography.scss */
dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
  color: red; }

/* line 119, scss/base/typography.scss */
dt::after {
  content: ":"; }

/* line 122, scss/base/typography.scss */
dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0; }

/* tables */
/* line 128, scss/base/typography.scss */
table, tr, td, tdoby, th {
  border-collapse: collapse; }

/* inputs */
/* line 132, scss/base/typography.scss */
input, select, button, textarea {
  outline: none; }

/*
----------------
responsive video
----------------
*/
/* line 140, scss/base/typography.scss */
.Flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

/* line 148, scss/base/typography.scss */
.Flexible-container iframe,
.Flexible-container object,
.Flexible-container video,
.Flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 3, scss/base/forms.scss */
input::-webkit-input-placeholder {
  color: #333;
  font: 300 18px/1.6 'Didact Gothic', sans-serif; }

/* line 7, scss/base/forms.scss */
input::-moz-input-placeholder {
  color: #333;
  font: 300 18px/1.6 'Didact Gothic', sans-serif; }

/* line 11, scss/base/forms.scss */
input::-moz-input-placeholder {
  color: #333;
  font: 300 18px/1.6 'Didact Gothic', sans-serif; }

/* line 15, scss/base/forms.scss */
input::-ms-input-placeholder {
  color: #333;
  font: 300 18px/1.6 'Didact Gothic', sans-serif; }

/* line 21, scss/base/forms.scss */
.forms {
  /* FORM BUTTONS */
  /* custom */ }
  /* line 22, scss/base/forms.scss */
  .forms input[type="text"], .forms input[type="password"], .forms input[type="email"], .forms input[type="tel"], .forms textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    padding: 15px 15px 25px 35px;
    width: 100%;
    height: 60px;
    color: #333;
    transition: border 0.3s linear, color 0.3s linear;
    font: 300 18px/1.6 'Didact Gothic', sans-serif; }
  /* line 37, scss/base/forms.scss */
  .forms textarea {
    min-height: 120px;
    resize: none; }
  /* line 41, scss/base/forms.scss */
  .forms input[type="text"] + .fas, .forms input[type="password"] + .fas, .forms input[type="email"] + .fas, .forms input[type="tel"] + .fas, .forms textarea + .fas {
    position: absolute;
    top: 25px;
    left: 0;
    transform: translateY(-50%);
    transition: 0.3s ease-in all;
    color: #333; }
  /* line 53, scss/base/forms.scss */
  .forms input[type="text"]:focus, .forms input[type="password"]:focus, .forms input[type="email"]:focus, .forms input[type="tel"]:focus, .forms textarea:focus {
    outline: none;
    border-color: #ff214f;
    color: #ff214f; }
  /* line 62, scss/base/forms.scss */
  .forms input[type="text"]:focus + .fas, .forms input[type="password"]:focus + .fas, .forms input[type="email"]:focus + .fas, .forms input[type="tel"]:focus + .fas, .forms textarea:focus + .fas {
    color: #ff214f; }
  /* line 70, scss/base/forms.scss */
  .forms .formContainer .btn {
    background: #ff214f;
    border: none;
    color: #fff;
    padding: 0 30px;
    text-transform: capitalize !important;
    width: 100%;
    cursor: pointer;
    transition: ease-in all 0.3s;
    display: block;
    height: auto;
    text-align: center;
    padding: 10px;
    outline: none; }
  /* line 85, scss/base/forms.scss */
  .forms .formContainer .btn:hover {
    box-shadow: inset 0 50px 0 0 #c51a3d; }
  /* line 89, scss/base/forms.scss */
  .forms input[type="checkbox"]:checked, .forms input[type="checkbox"]:not(:checked) {
    /* -webkit-appearance:none; */
    position: absolute;
    left: -9999px; }
  /* line 95, scss/base/forms.scss */
  .forms input[type="checkbox"]:checked + label, .forms input[type="checkbox"]:not(:checked) + label {
    position: relative;
    cursor: pointer;
    padding: 0 0 0 30px; }
  /* line 101, scss/base/forms.scss */
  .forms input[type="checkbox"]:checked + label:before, .forms input[type="checkbox"]:not(:checked) + label:before {
    content: '';
    background: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0; }
  /* line 111, scss/base/forms.scss */
  .forms input[type="checkbox"]:checked + label:after, .forms input[type="checkbox"]:not(:checked) + label:after {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ff214f;
    position: absolute;
    top: -4px;
    left: 2px;
    opacity: 0;
    transform: scale(1.5);
    transition: opacity 0.3s linear, transform 0.3s linear; }
  /* line 124, scss/base/forms.scss */
  .forms input[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1); }

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 29, 2018 */
/* FONTS */
@font-face {
  font-family: 'ralewaybold';
  src: url("fonts/raleway-bold-webfont.woff2") format("woff2"), url("fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayextrabold';
  src: url("fonts/raleway-extrabold-webfont.woff2") format("woff2"), url("fonts/raleway-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayextralight';
  src: url("fonts/raleway-extralight-webfont.woff2") format("woff2"), url("fonts/raleway-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayheavy';
  src: url("fonts/raleway-heavy-webfont.woff2") format("woff2"), url("fonts/raleway-heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaylight';
  src: url("fonts/raleway-light-webfont.woff2") format("woff2"), url("fonts/raleway-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaymedium';
  src: url("fonts/raleway-medium-webfont.woff2") format("woff2"), url("fonts/raleway-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayregular';
  src: url("fonts/raleway-regular-webfont.woff2") format("woff2"), url("fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaysemibold';
  src: url("fonts/raleway-semibold-webfont.woff2") format("woff2"), url("fonts/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewaythin';
  src: url("fonts/raleway-thin-webfont.woff2") format("woff2"), url("fonts/raleway-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* Header */
/* line 8, scss/custom/custom.scss */
#googleHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 20px; }
  /* line 12, scss/custom/custom.scss */
  #googleHeader a {
    font-size: 13px;
    color: #666;
    margin: 0 7px; }
  /* line 17, scss/custom/custom.scss */
  #googleHeader i, #googleHeader span {
    margin: 0 7px; }
  /* line 20, scss/custom/custom.scss */
  #googleHeader .avatar {
    background: orange;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    -o-border-radius: 50px;
    display: inline-block;
    text-align: center;
    vertical-align: middle; }

/* line 33, scss/custom/custom.scss */
#googleHeader i {
  font-size: 25px;
  display: inline-block;
  vertical-align: middle; }

/* main */
/* line 44, scss/custom/custom.scss */
#googleContent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 20px; }

/* line 49, scss/custom/custom.scss */
.formContainer {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  max-width: 600px;
  margin-top: 130px;
  margin-bottom: 30px;
  padding: 0 20px; }
  /* line 57, scss/custom/custom.scss */
  .formContainer .row {
    margin: 0 0 35px 0; }

/* searchbox */
/* line 64, scss/custom/custom.scss */
.GoogleSearchContainer {
  width: 100%;
  padding: 6px 30px;
  border: 1px solid #ccc;
  position: relative;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  -o-border-radius: 50px; }
  /* line 70, scss/custom/custom.scss */
  .GoogleSearchContainer:hover, .GoogleSearchContainer:focus, .GoogleSearchContainer:active {
    -webkit-box-shadow: 0 2px 14px #ccc;
    -moz-box-shadow: 0 2px 14px #ccc;
    box-shadow: 0 2px 14px #ccc; }
  /* line 75, scss/custom/custom.scss */
  .GoogleSearchContainer i, .GoogleSearchContainer img {
    position: absolute;
    top: 7px;
    left: 16px; }

/* line 82, scss/custom/custom.scss */
.GoogleSearchContainer i {
  font-size: 16px;
  color: #999;
  transform: rotateX(0deg);
  font-weight: bold; }

/* line 89, scss/custom/custom.scss */
.GoogleSearchContainer img {
  right: 15px !important;
  left: auto;
  top: 10px; }

/* line 95, scss/custom/custom.scss */
.GoogleSearchContainer input[type="text"] {
  width: 100%;
  height: 30px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  color: #999;
  overflow: hidden; }
  /* line 104, scss/custom/custom.scss */
  .GoogleSearchContainer input[type="text"]:focus, .GoogleSearchContainer input[type="text"]:active {
    outline: none; }

/* line 109, scss/custom/custom.scss */
.formContainer input[type="Submit"] {
  font-size: 14px;
  padding: 10px;
  color: #333;
  border: 1px solid transparent;
  background: transparent; }

/* line 117, scss/custom/custom.scss */
.formContainer input[type="Submit"]:hover {
  -webkit-box-shadow: 0 2px 14px #ccc;
  -moz-box-shadow: 0 2px 14px #ccc;
  box-shadow: 0 2px 14px #ccc;
  border: 1px solid #ccc; }

/* Copyright */
/* line 125, scss/custom/custom.scss */
#googleCopyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 25px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc; }

/* Footer */
/* line 135, scss/custom/custom.scss */
#googleFooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px; }
  /* line 139, scss/custom/custom.scss */
  #googleFooter a {
    margin: 0 7px;
    color: #666;
    vertical-align: middle;
    display: inline-block; }
  /* line 145, scss/custom/custom.scss */
  #googleFooter img {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle; }

/* line 151, scss/custom/custom.scss */
#googleBottom {
  position: absolute;
  bottom: 0;
  width: 100%; }

@media only screen and (max-width: 767px) {
  /* line 158, scss/custom/custom.scss */
  .formContainer img {
    max-width: 150px; }

  /* line 161, scss/custom/custom.scss */
  #googleFooter {
    display: none; } }
/* line 19, main.scss */
p {
  color: #000; }

/* line 23, main.scss */
.box {
  width: 500px;
  height: 300px;
  background: #000; }
